@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.title span {
  font-style: italic;
}

body {
  font-family: "AktivGrotesk-Regular", sans-serif;
}

.title span:hover {
  /* font-size: 42px; */
  color: #f2f2f2;
  background-color: #000;
  text-decoration: underline;
}

.content-form {
  margin-top: 86px;
}

.form {
  width: 100%;
  max-width: 1024px;
}

.table {
  max-width: 1024px;
  min-width: 768px;
}

.spanEdit:hover {
  cursor: pointer;
}

.spanDelete:hover {
  cursor: pointer;
}
